# Remove all pycache and python compiled files
# Python bytecode files
__pycache__/
*.py[cod]
# Cython compiled files
*.so
# Distribution / packaging
.Python
# Installer logs
pip-log.txt
# Unit test / coverage reports
coverage.xml
# Translations
*.mo
.env
secrets/*
gcp_creds.json
venv/*
.venv/*
vector_db_llama/*